.bg-img {
  background-image: linear-gradient(
      to right,
      rgb(52, 122, 86),
      rgba(42, 39, 39, 0.1)
    ),
    url("../../../assets/banner-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

